@import 'global';

//CARD STYLES
.cards-container {
    padding-top: 5%;
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5%;
}

.card {
    border-radius: 10px !important;

    h2 {
        font-weight: bold;
    }
}

.confirmed {
    color: $orange;
}

.recovered {
    color: $green;
}

.deaths {
    color: $purple;
}